@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #24627f;
  --foreground: #171717;
  --mountain-icon-color: #12453e;
} 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #323335;
    --foreground: #e9e9e9;
  }
} */

html, body {
    background: var(--background);
  width: 100vw;
  height: 100vh;   /* 画面全体に固定 */
  overflow: hidden; /* スクロール禁止 */
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
